@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
    --body-bg: hsl(233, 47%, 7%);
    --card-bg: hsl(244, 38%, 16%);
    --accent: hsl(277, 64%, 61%);
    --heading: hsl(0, 0%, 100%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 1.1rem;
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    background-color: var(--body-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--heading);
    padding: 20px;  
}

.card{
    min-height: 90%;
    min-width: 90%;
    background: var(--card-bg);
    overflow: hidden;
    border-radius: 10px;
    display: flex;;
    flex-direction: column;
    text-align: center;
}

.bg-image{
    position: relative;
    width: 100%;
    min-height: 100px;
    background-color: hsla(277, 64%, 61%, 0.7);
    mix-blend-mode: luminosity;
    overflow: hidden;
}

.bg-image img{
    position: absolute;
    width: 100%;
    top: 0;
    left:0;
}

.text-content{
    padding: 30px;
    height: 100%;
    display:flex;
    align-self: center;
    justify-self: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.accent{
    color: var(--accent)
}

.text-content p{
    color: var(--transparent-white);
    margin-top: 15px;
    margin-bottom: 15px;
}

.stats{
    margin-top: 10px;
    color: var(--transparent-white);
}

.stats-head{
    color: var(--heading);
    font-size: 1.4em;
    font-weight: bolder;
}

@media only screen and (min-width : 880px) {
    .card{
        flex-direction: row-reverse;
        text-align: left;
        position: relative;
        min-height: 450px;
        min-width: 900px;
    }

    .text-content{
        max-height: 200px;
        width: 50%;
        padding: 80px;
    }

    .text-content p{
        margin-top: 30px;
    }

    .bg-image{
        width: 50%;
    }

    .bg-image img{
        width: 100%;
        height: auto;
    }

    .stats-container{
        display: flex;
        justify-content:start;
        width: 100%;
    }

    .stats{
        margin-right: 35px;
    }
}




.attribution {
    font-size: 11px;
    white-space: nowrap;
    text-align: center;
    position: relative;
    bottom: -12px;
}
.attribution a{
 color: hsl(228, 45%, 44%);}